.fund-node{
    display:flex; 
    text-align: center;
    margin: auto;
}
.child-node{
    text-align: right;
    font-size: 15px;
    width:33%;
    margin-right: 3%;
    margin-left:5%;
    padding-left:2%;
}
.grand-child-node{
    text-align: right;
    font-size: 15px;
    width:33%;
    margin-right: 1%;
    margin-left:5%;
    padding-left:4%;
}
.node{
    text-align: right;
    font-size: 15px;
    width:33%;
    margin-right: 5%;
    margin-left:5%
}
.node-name{
    text-align:left
}
.node-input{
width:33%;
padding: 10px 18px;
font-size: 16px;
line-height: 10px;
margin: 8px 0;
margin-right:20%;
margin-left: 20%;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 4px;
text-align: right;



}
.node-value{
    width:33%;
    margin-left:5%;
    margin-right:5%;
    text-align:right;
    font-size:18px;

}
span{
    color: dodgerblue;
}