.container{
    margin-left:10%;
    margin-right:10%;

    
}
.input-container{
    display:flex; 
    margin: auto;
    width: 50%;
    
   
}


.amount{
   
    width: 30%;
    padding: 10px 18px;
    font-size: 18px;
    margin: 8px 0;
    margin-left: 10%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: right;


}